/* Reset default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Style the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image:none ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
}

/* Style the header */
h1 {
    text-align: center;
    padding: 20px 0;
    background-color: #9225ff;
    color: #fff;
}

/* Style the form */
form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(125deg, rgba(174,0,255,0.32335169175091916) 0%, rgba(0,190,255,0.3205505713027399) 38%, rgba(254,0,249,0.32335169175091916) 63%, rgba(255,255,255,0.3177494508545605) 100%);    
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}

/* Style the list */
ul {
    list-style: none;
    padding: 0;
}

/* Style list items */
li {
    margin-bottom: 10px;
}

/* Style checkboxes and labels */
input[type="checkbox"] {
    margin-right: 10px;
}

/* Style the button */
button {
    background-color: #a258ed;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Hover effect for the button */
button:hover {
    background-color: #3674f2;
}

/* Center the button */
button[type="button"] {
    display: block;
    margin: 20px auto;
}

p{
    text-align: center;
    font-weight: bold;
}